* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Fredoka', sans-serif;
}

.background {
  background: linear-gradient(to top left, #FFB6C1, #81D4FA);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #ffffffee;
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #FF4081;
}

label {
  display: block;
  margin-top: 1rem;
  font-size: 1.1rem;
  color: #444;
}

input,
select {
  width: 80%;
  padding: 0.8rem;
  margin-top: 0.3rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 12px;
  outline: none;
  background-color: #f9f9f9;
}

button {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  background-color: #FFB74D;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

button#start-btn {
  margin-top: 2rem;
}

button:hover {
  background-color: #FFA726;
}

#score-board {
  position: fixed;
  top: 8px;
  right: 8px;
}

#score-board button {
  background-color: #FF4081;
}

#score-board button:hover {
  background-color: #ff0357;
}

.hidden {
  display: none;
}

.game-area {
  padding: 2rem;
  text-align: center;
}

.dashboard {
  background-color: #FFF176;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 768px;
  margin-inline: auto;
}

.dashboard p {
  font-size: 1rem;
  margin: 0.3rem 0;
}

.word-zone {
  margin-top: 1rem;
}

#word-display {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 1rem;
}

#input-field {
  width: 80%;
  padding: 1rem;
  font-size: 1.2rem;
  border: 2px solid #ccc;
  border-radius: 10px;
}

#word-display .highlight {
  color: #0071c2;
  font-weight: bold;
}

#word-display .wrong {
  color: #ff0357;
}

#word-display .correct {
  color: #00b000;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup.hidden {
  display: none;
}

.popup-content {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  font-family: 'Comic Sans MS', cursive;
}

.popup-content h2 {
  color: #4CAF50;
}

.popup-content ul {
  text-align: left;
  margin: 1rem 0;
}

.popup-content li {
  margin: 0.3rem 0;
}

.popup-content button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

#popup-gamer {
  font-weight: bold;
  font-size: 1.25rem;
  color: #ff0357;
}

